<div class="page-header"><h1>Databases</h1></div>

<div class="row">
    <div class="col-md-3 col-md-push-9">
        <form class="facets-form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="db.search" placeholder="Search databases">
            </div>

            <div class="form-group hidden-xs">
                <h5>Title starts with</h5>
                <div class="facet-group alphanum-group">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-repeat="na in numAlpha" ng-model="db.startsWith" btn-radio="'{{na}}'" ng-disabled="startsWithDisabled[na]" uncheckable>{{na}}</label>
                    </div>
                </div>
            </div>

            <div class="form-group hidden-xs">
                <h5>Subjects</h5>
                <div class="facet-group">
                    <div class="radio" ng-class="{'disabled': subj.disabled}" ng-repeat="subj in subjects">
                        <label>
                            <input type="checkbox" ng-model="db.subjects[subj.subject]" ng-disabled="subj.disabled">
                            {{subj.subject}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group hidden-xs">
                <h5>Types</h5>
                <div class="facet-group">
                    <div class="radio" ng-class="{'disabled': type.disabled}" ng-repeat="type in types">
                        <label>
                            <input type="checkbox" ng-model="db.types[type.type]"  ng-disabled="type.disabled">
                            {{type.type}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-block btn-primary" ng-click="resetFilters()"><span class="fa fa-fw fa-refresh"></span> Reset filters</button>
            </div>
        </form>
    </div>
    <div class="col-md-9 col-md-pull-3 dbware-list-container">

        <div class="media" ng-repeat="item in filteredDB | after:(pager.page-1)*pager.perPage | limitTo:20">
            <div class="media-body">
                <h4 class="media-heading">
                    <a ng-href="{{DB_PROXY_PREPEND_URL}}{{item.url}}" title="{{item.title}}"> {{item.title}}</a>  <small>{{item.coverage}}</small>
                </h4>
                <div class="details-context">
                    <span ng-repeat="subj in item.subjects | where:{type:1}">{{subj.subject}}</span>
                </div>
                <div class="details-context">
                    <span ng-repeat="type in item.types">{{type.type}}</span>
                </div>
                <p>{{item.description}}</p>

                <div class="details-context">
                    <span ng-if="item.audience1">{{item.audience1}}</span>
                    <span ng-if="item.audience2">{{item.audience2}}</span>
                </div>
            </div>
        </div>

        <div class="text-center">
            <pagination class="pagination-sm" ng-model="pager.page" total-items="pager.totalItems" max-size="pager.maxSize" boundary-links="true" rotate="false" items-per-page="pager.perPage" ng-change="pageChange()" ng-if="pager.totalItems > pager.perPage"></pagination>
        </div>

        <div class="alert alert-warning text-center" role="alert" ng-show="pager.totalItems < 1">
            <h2>No results found <span ng-if="db.search"> for "{{db.search}}"</span></h2>
        </div>
    </div>
</div>