//TODO: move to ualib-ui components
.breadcrumb.facetcrumb {
  .btn-default {
    padding: 2px 6px;
    margin: 0 2px;

    &:hover, &:active{
      background-color: #e6e6e6;
    }
    > span {
      font-size: 17px;
      font-weight: 700;
      line-height: 1;
    }
  }

  .reset-btn{
    padding: 2px 6px;
  }
}

.facets-form {
  .facet-group{
    max-height: 300px;
    overflow-y: auto;

    &.alphanum-group{
      .btn-group{
        text-align: center;
        > .btn {
          float: none;
          padding: 3px 6px;
          border-color: transparent;
          color: #993333;
          &:first-child {
            &:not(:last-child):not(.dropdown-toggle){
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
            }
          }
        }
      }
    }
  }
}