<div class="text-center row form-inline">
    <div class="col-md-12 form-group text-left">
        <label for="filterBy">Filter <small>{{filteredDB.length}}</small> results by</label>
        <div id="filterBy">
            <input type="text" class="form-control" placeholder="Title starts with" ng-model="dbList.titleStartFilter">
            <input type="text" class="form-control" placeholder="Title contains" ng-model="dbList.titleFilter">
            <input type="text" class="form-control" placeholder="Description contains" ng-model="dbList.descrFilter">
            <input type="text" class="form-control" placeholder="Subjects contain" ng-model="dbList.subjectFilter">
            <input type="text" class="form-control" placeholder="Media Types contain" ng-model="dbList.typeFilter">
        </div>
    </div>
</div>

<div class="text-center">
    <pagination total-items="filteredDB.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage"></pagination>
</div>
<div class="row"
     ng-repeat="db in filteredDB = (dbList.databases | filter:{filterBy:dbList.searchText}:compareTitle
                                                     | filter:{title:dbList.titleStartFilter}:startTitle
                                                     | filter:{title:dbList.titleFilter}:compareTitle
                                                     | filter:{description:dbList.descrFilter}:compareTitle
                                                     | filter:{subjects:dbList.subjectFilter}:compareTitle
                                                     | filter:{types:dbList.typeFilter}:compareTitle
                                                     | filter:{disabled:0}
                                                     | orderBy:'title')
    | startFrom:(currentPage-1)*perPage | limitTo:perPage"
     ng-class="{sdOpen: db.show, sdOver: db.id == mOver}" ng-mouseover="setOver(db)">
    <div class="col-md-12" ng-click="toggleDB(db)">
        <h4>
            <span class="fa fa-fw fa-caret-right" ng-hide="db.show"></span>
            <span class="fa fa-fw fa-caret-down" ng-show="db.show"></span>
            <a href="{{db.url}}">{{db.title}}</a>
            <small>{{db.publisher}} <span ng-show="db.vendor.length > 0">: {{db.vendor}}</span></small>
        </h4>
    </div>
    <div class="col-md-12" ng-show="db.show">
        <div class="col-md-12 form-group">
            <label for="{{db.id}}_descr">Database Description</label>
            <p id="{{db.id}}_descr">{{db.description}}</p>
        </div>
        <div class="col-md-3 form-group" ng-show="db.coverage">
            <label for="{{db.id}}_Coverage">Coverage</label>
            <p id="{{db.id}}_Coverage">{{db.coverage}}</p>
        </div>
        <div class="col-md-3 form-group" ng-show="db.publisher">
            <label for="{{db.id}}_Publisher">Publisher</label>
            <p id="{{db.id}}_Publisher">{{db.publisher}}</p>
        </div>
        <div class="col-md-3 form-group" ng-show="db.vendor">
            <label for="{{db.id}}_Vendor">Vendor</label>
            <p id="{{db.id}}_Vendor">{{db.vendor}}</p>
        </div>
        <div class="col-md-3 form-group" ng-show="db.notes">
            <label for="{{db.id}}_Notes">Notes</label>
            <p id="{{db.id}}_Notes">{{db.notes}}</p>
        </div>
        <div class="col-md-2 form-group" ng-show="db.location">
            <label for="{{db.id}}_Location">Location</label>
            <p id="{{db.id}}_Location">{{db.location}}</p>
        </div>
        <div class="col-md-2 form-group">
            <label for="{{db.id}}_NotInEDS">Not in EDS</label>
            <p id="{{db.id}}_NotInEDS">{{db.notInEDS}}<span ng-hide="db.notInEDS">In EDS</span></p>
        </div>
        <div class="col-md-2 form-group">
            <label for="{{db.id}}_Full-text">Fulltext</label>
            <p id="{{db.id}}_Full-text">{{db.hasFullText}}<span ng-hide="db.hasFullText">No</span></p>
        </div>
        <div class="col-md-2 form-group">
            <label for="{{db.id}}_Authenticate">Authenticate</label>
            <input type="checkbox" class="form-control" ng-model="db.auth" ng-true-value="'1'" ng-false-value="'0'"
                   id="{{db.id}}_Authenticate" disabled>
        </div>
        <div class="col-md-2 form-group" ng-show="db.presentedBy">
            <label for="{{db.id}}_presented">Presented by</label>
            <p id="{{db.id}}_presented">{{db.presentedBy}}</p>
        </div>
        <div class="col-md-2 form-group" ng-show="db.audience1 || db.audience2">
            <label for="{{db.id}}_Audience1">Audience</label>
            <p id="{{db.id}}_Audience1">{{db.audience1}} <span ng-show="db.audience2">, {{db.audience2}}</span></p>
        </div>
        <div class="col-md-2 form-group" ng-show="db.descrAuthor">
            <label for="{{db.id}}_dAuthor">Description Author</label>
            <p id="{{db.id}}_dAuthor">{{db.descrAuthor}}</p>
        </div>
        <div class="col-md-2 form-group" ng-show="db.lastModified">
            <label for="{{db.id}}_date">Last Modified</label>
            <p id="{{db.id}}_date">{{db.lastModified}}</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label for="{{db.id}}_subjects">Subjects</label>
                <ul class="list-group" id="{{db.id}}_subjects">
                    <li class="list-group-item" ng-repeat="subject in db.subjects">
                        {{subject.subject}} : {{subject.type}}
                    </li>
                </ul>
            </div>
            <div class="col-md-6 form-group">
                <label for="{{db.id}}_types">Types</label>
                <ul class="list-group" id="{{db.id}}_types">
                    <li class="list-group-item" ng-repeat="type in db.types">
                        {{type.type}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredDB.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage"></pagination>
</div>

