<div class="row form-inline">
    <div class="col-md-12 form-group text-left">
        <label for="filterBy">Filter <small>{{filteredDB.length}}</small> results by</label>
        <div id="filterBy">
            <input type="text" class="form-control" placeholder="Title starts with" ng-model="dbList.titleStartFilter">
            <input type="text" class="form-control" placeholder="Title contains" ng-model="dbList.titleFilter">
            <input type="text" class="form-control" placeholder="Description contains" ng-model="dbList.descrFilter">
            <input type="text" class="form-control" placeholder="Subjects contain" ng-model="dbList.subjectFilter">
            <input type="text" class="form-control" placeholder="Media Types contain" ng-model="dbList.typeFilter">
        </div>
    </div>
    <div class="cold-md-12 form-group">
        <label for="selectST" ng-click="subTypSelOpen = !subTypSelOpen">
            <a>
                <span class="fa fa-fw fa-caret-right" ng-hide="subTypSelOpen"></span>
                <span class="fa fa-fw fa-caret-down" ng-show="subTypSelOpen"></span>
                Select Subjects and Media Types
            </a>
        </label>
        <div id="selectST" ng-show="subTypSelOpen">
            <div class="col-md-8">
                <div class="text-center">
                    <button type="button" class="btn btn-primary" ng-click="selectAllSubjects(false)">
                        Deselect All Subjects
                    </button>
                </div>
                <label class="btn btn-default" btn-checkbox ng-repeat="subject in dbList.subjects"
                        ng-model="subject.selected" ng-click="updateStatus(subject)">
                    {{subject.subject}}
                </label>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <button type="button" class="btn btn-primary" ng-click="selectAllTypes(false)">
                        Deselect All Types
                    </button>
                </div>
                <label class="btn btn-default" btn-checkbox ng-repeat="type in dbList.types"
                        ng-model="type.selected" ng-click="updateTypes(type)">
                    {{type.type}}
                </label>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <pagination total-items="filteredDB.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage"></pagination>
</div>
<div class="row"
     ng-repeat="db in filteredDB = (dbList.databases | filter:{filterBy:dbList.searchText}:compareTitle
                                                     | filter:{title:dbList.titleStartFilter}:startTitle
                                                     | filter:{title:dbList.titleFilter}:compareTitle
                                                     | filter:{description:dbList.descrFilter}:compareTitle
                                                     | filter:{subjects:dbList.subjectFilter}:compareTitle
                                                     | filter:{types:dbList.typeFilter}:compareTitle
                                                     | filter:{disabled:0}
                                                     | filter:{subjects:selectedSubjects}:filterSubjects
                                                     | filter:{types:selectedTypes}:filterTypes
                                                     | orderBy:['-primary','title'])
    | startFrom:(currentPage-1)*perPage | limitTo:perPage"
     ng-class="{sdOpen: db.show, sdOver: db.id == mOver}" ng-mouseover="setOver(db)">
    <div class="col-md-12" ng-click="toggleDB(db)">
        <div class="col-md-10">
            <h4>
                <span class="fa fa-fw fa-caret-right" ng-hide="db.show"></span>
                <span class="fa fa-fw fa-caret-down" ng-show="db.show"></span>
                <a href="{{db.url}}" ng-hide="db.tmpDisabled == '1'">{{db.title}}</a>
                <span ng-show="db.tmpDisabled == '1'">{{db.title}}</span>
                <small>{{db.coverage}}</small>
            </h4>
        </div>
        <div class="col-md-2 text-right">
            <small ng-show="db.primary && selectedSubjects.length > 0">RECOMMENDED</small>
        </div>
        <div class="col-md-12">
            <p ng-bind-html="db.description"></p>
            <h4 ng-show="primarySubj.length > 0"><small>Primary Subjects:</small>
                <small ng-repeat="subject in primarySubj = (db.subjects | filter:{type:'1'})">
                    {{subject.subject}}<span ng-hide="$index == primarySubj.length-1">, </span>
                </small>
            </h4>
            <h4><small>Media Types:</small>
                <small ng-repeat="type in db.types">
                    {{type.type}}<span ng-hide="$index == db.types.length-1">, </span>
                </small>
            </h4>
        </div>
    </div>
    <div class="col-md-12" ng-show="db.show">
        <div class="col-md-2 form-group" ng-show="db.publisher">
            <label for="{{db.id}}_Publisher">Publisher</label>
            <p id="{{db.id}}_Publisher">{{db.publisher}}</p>
        </div>
        <div class="col-md-2 form-group" ng-show="db.vendor">
            <label for="{{db.id}}_Vendor">Vendor</label>
            <p id="{{db.id}}_Vendor">{{db.vendor}}</p>
        </div>
        <div class="col-md-2 form-group" ng-show="db.location">
            <label for="{{db.id}}_Location">Location</label>
            <p id="{{db.id}}_Location">{{db.location}}</p>
        </div>
        <div class="col-md-2 form-group">
            <label for="{{db.id}}_NotInEDS">Not in EDS</label>
            <p id="{{db.id}}_NotInEDS">{{db.notInEDS}}<span ng-hide="db.notInEDS">In EDS</span></p>
        </div>
        <div class="col-md-2 form-group">
            <label for="{{db.id}}_Full-text">Fulltext</label>
            <p id="{{db.id}}_Full-text">{{db.hasFullText}}<span ng-hide="db.hasFullText">No</span></p>
        </div>
        <div class="col-md-2 form-group" ng-show="db.presentedBy">
            <label for="{{db.id}}_presented">Presented by</label>
            <p id="{{db.id}}_presented">{{db.presentedBy}}</p>
        </div>
        <div class="col-md-2 form-group" ng-show="db.audience1 || db.audience2">
            <label for="{{db.id}}_Audience1">Audience</label>
            <p id="{{db.id}}_Audience1">{{db.audience1}} <span ng-show="db.audience2">, {{db.audience2}}</span></p>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 form-group" ng-show="primarySubjects.length > 0">
                <label for="{{db.id}}_subjectsP">Primary Subjects</label>
                <ul class="list-group" id="{{db.id}}_subjectsP">
                    <li class="list-group-item" ng-repeat="subject in primarySubjects = (db.subjects | filter:{type:'1'})">
                        {{subject.subject}}
                    </li>
                </ul>
            </div>
            <div class="col-md-4 form-group" ng-show="secondarySubjects.length > 0">
                <label for="{{db.id}}_subjectsS">Secondary Subjects</label>
                <ul class="list-group" id="{{db.id}}_subjectsS">
                    <li class="list-group-item" ng-repeat="subject in secondarySubjects = (db.subjects | filter:{type:'2'})">
                        {{subject.subject}}
                    </li>
                </ul>
            </div>
            <div class="col-md-4 form-group">
                <label for="{{db.id}}_types">Media Types</label>
                <ul class="list-group" id="{{db.id}}_types">
                    <li class="list-group-item" ng-repeat="type in db.types">
                        {{type.type}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination total-items="filteredDB.length" ng-model="currentPage" max-size="maxPageSize" class="pagination-sm"
                boundary-links="true" rotate="false" items-per-page="perPage"></pagination>
</div>

